// 公共类
aside {
  background: #eef1f6;
  padding: 8px 24px;
  display: block;
  line-height: 32px;
  font-size: 16px;
  a {
    color: #337ab7;
    cursor: pointer;
  }
}

code {
  background-color: hsla(0,0%,100%,.7);
  color: #445368;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.flex-center{
  display: flex;
  place-items: center;
}

.text-center{
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}

.custom-block {
  &-title {
    font-weight: 700;
  }
  &.tip {
    padding: 8px 16px;
    background-color: rgb(64 158 255 / 10%);
    border-radius: 4px;
    border-left: 5px solid #409eff;
    margin: 20px 0;
    p:first-child {
      margin-top: 0;
    }
    p {
      margin: 1rem 0;
      line-height: 1.7;
    }
  }
}