// 公共类
.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.inlineBlock {
  display: inline-block;
}

.flex-center{
  display: flex;
  place-items: center;
}

.text-center{
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
}