// 变量
// base color
$blue:#324157;
$light-blue:#3A71A8;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;

// sidebar
$menuText:#bfcbd9;
$menuActiveText:#409EFF;
$subMenuActiveText:#f4f4f5;

$menuBg:#304156;
$menuHover:#263445;

$subMenuBg:#1f2d3d;
$subMenuHover:#001528;

$sideBarWidth: 210px;

// box-shadow
$shadowLight: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$shadowDark: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

// dark
$darkBg: #1d1e1f;
$darkHeaderBg: #213d5b;
// dark tag
$darkTagBg: #202121;
$darkTagText: #909399;
$darkTagBorder: #4c4d4f;
$darkTagActiveBg: #1c2518;
$darkTagActiveText: #67c23a;
$darkTagActiveBorder: #25371c;

$darkGray: #97a8be;
$darkWhite: #fff;
$darkShadow: 0 1px 4px #5b5b5b;
$darkBorder: #4c4d4f;
// dark slider
$darkMenuBg:#304156;
$darkMenuHover:#000;
$darkSubMenuBg:#292a2c;
$darkSubMenuHover:#363637;
// Tip
$darkTipBg: rgb(64 158 255 / 10%);

:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
  darkBg: $darkBg;
}
